/***********************
 * Global styles
 **********************/
 
  @font-face {
    font-family: 'Avenir-Black';
    src: url('https://cdn.flashtalking.com/82563/avenir_fonts/5b3067c0-6044-4042-9941-bea1a5354a1f.eot');
    src: url('https://cdn.flashtalking.com/82563/avenir_fonts/5b3067c0-6044-4042-9941-bea1a5354a1f.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/ad58244e-b79c-4260-a588-c4a890416979.woff2') format('woff2'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/0b167d86-9493-44ec-87e7-071d78b0dedc.woff') format('woff'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/b4548fbc-cd54-488b-90b4-b78ba824cdcb.ttf') format('truetype'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/f4d573ac-eb5c-4afe-bda0-7142588acf23.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   @font-face {
    font-family: 'Avenir-Medium';
    src: url('https://cdn.flashtalking.com/82563/avenir_fonts/3cbb38b5-39f7-4266-aef2-c1d76a430661.eot');
    src: url('https://cdn.flashtalking.com/82563/avenir_fonts/3cbb38b5-39f7-4266-aef2-c1d76a430661.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/55b3246a-2a53-4f75-b0da-6dffde8260ad.woff2') format('woff2'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/0614ebff-0ec3-4726-98b3-379062bb14e7.woff') format('woff'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/7ce0560a-1399-4d97-bca7-75fc1ad7ca07.ttf') format('truetype'),
    url('https://cdn.flashtalking.com/82563/avenir_fonts/b400c57c-9dcf-4056-9349-20f51cc82688.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*.ad-size {
  width: 300px;
  height: 600px;
}
*.hidden {
  opacity: 0;
}
*.absolute {
  position: absolute;
}
*.relative {
  position: relative;
}
sup {
  font-size: 60%;
  position: relative;
  margin-top: -2px;
  margin-left: -3px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Avenir-Black", Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-style: normal;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***********************
 * Ad styles
 **********************/

div#container {
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #707070;
  box-sizing: border-box;
}
div.bg-frame {
  top: -1px;
  left: -1px;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}
div.bg-frame:last-child {
  z-index: -2;
}
div.bg-frame > img{
  position: absolute;
  top: -12%;
  -ms-transform: rotate(0.02deg);
  -moz-transform: rotate(0.02deg);
  transform-style: preserve-3d;
  transform-origin: center center;
  image-rendering: smooth;
  backface-visibility: hidden;
  will-change: transform;
}
div.bg-frame > div.credits {
   text-align: right;
   padding: 10px;
}
div.bg-frame > div.credits span {
   position: absolute;
    z-index: 9; 
}
div.copy {
  top: 0;
  left: 0;
  padding: 19px 19px;
  pointer-events: none;
}
div.copy > div#headline {
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 100%;
}
div.copy > div#subheadline {
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 120%;
  padding: .4rem 0 0 0;
}
div.copy > div#headline > span,
div.copy > div#subheadline > span {
  display: block;
}
div.copy > div#percent {
  font-size: 65px;
  font-weight: normal;
  line-height: 100%;
  padding: .2rem 0 0 0;
  display: none;
}
div.copy > div#price {
  font-size: 65px;
  font-weight: normal;
  line-height: 100%;
  padding: .2rem 0 0 0;
  letter-spacing: -.01em;
  display: none;
}
div.copy > div#percent > span,
div.copy > div#price > span {
  display: inline-block;
}
div.copy > div#percent > span.sign {
  font-size: 37%;
  padding-top: 0.25em;
  position: absolute;
  line-height: 100%;
}
div.copy > div#price > span.value {
  /*margin-left: -17px;*/
}
div.footer {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 23%;
  background-color: #fff;
  pointer-events: none;
}
div.footer > div.logo-container {
  top: 81px;
  width: 156px;
  height: 31px;
  max-width: 156px;
  max-height: 40px;
  
}
div.footer > div.logo-container img#logo{
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
div.footer > div.logo-container img#logo img{
  top: 0;
  left: 0;
}
div.footer > div#legal {
  font-family: "Avenir-Medium", Arial, "Lucida Grande", sans-serif;
  color: #707070;
  font-size: 9;

}
div.footer > div#cta {
  top: 17px;
  font-size: 20px;
  text-align: center;
  margin: 1px 0 0 0;
  font-weight: normal;
  letter-spacing: -0.35px;
  color: #fff;
  background-color: #0a7ab8;
  padding: 13px 48px;
  border-radius: 50px;
  transform-origin: center;
  white-space: nowrap;
  text-align:center;
}
div.footer > div#cta > span {
 display: inline-block;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}